<input type="text" [(ngModel)]="filter" /><br />
Filter: {{ filter }} <br />
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year of foundation</th>
      <th>Coach</th>
      <th>Last match</th>
      <th>Victories/matches</th>
      <th>Victory rate in the season</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams">
      <td><a [routerLink]="['/teams', team.id]">{{team.name}}</a></td>
      <td>{{ team.yearOfFoundation }}</td>
      <td>{{ team.coach }}</td>
      <td><span class="{{ team.lastMatch | matchResultToFaicon }}"></span></td>
      <td>{{ team.victories}}/{{team.matches }}</td>
      <td><app-victoryrate [victoryRate]="team.victories/team.matches"></app-victoryrate></td>
    </tr>
  </tbody>
</table>

<a routerLink="/">back to the main page</a>
